/* SETTINGS */

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --greenColor: #5f7008;
    --darkColor: #2c2e35;
}


/* MAIN */

.mobileNavbar {
    display: none;
}

.mobileMenu {
    display: none;
}

.navbar {
    padding-top: 40px;
    padding-bottom: 40px;
}

.desktopNavbar {
    display: flex;
    align-items: baseline;
}

.navbar a {
    color: var(--greenColor);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.navbar li {
    margin-right: 40px;
}

.headerBlock {
    width: 100%;
    height: 300px;
}

.headerGreenBlock {
    width: 80%;
    text-align: center;
    background: var(--greenColor);
    color: white;
    height: 100%;
    position: relative;
}

.headerBlock>img {
    width: 100%;
    height: 100%;
}

.headerBlock {
    display: flex;
}

.headerGreenBlock img {
    width: 50%;
    position: relative;
    top: 20%;
}

.homepage .container {
    background: #f7f8f2;
    padding: 40px;
}

.homepage h1 {
    color: var(--darkColor);
    font-weight: 400;
    font-size: 46px;
    line-height: 60px;
}

.homepage h2 {
    color: var(--darkColor);
    font-weight: 600;
    font-size: 22px;
    margin-top: 60px;
    line-height: 1.6;
}

.homepage p {
    margin-top: 40px;
    margin-bottom: 20px;
}

.homepage li {
    margin-bottom: 20px;
}

.homepage ul {
    padding-left: 60px;
}

@media (max-width: 1140px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .headerBlock {
        width: 100%;
        height: 300px;
    }

    .homepage li {
        margin-bottom: 20px;
        line-height: 1.3;
    }
}

@media (max-width: 490px) {
    .navbar li {
        margin-right: 20px;
    }

    .navbar a {
        font-size: 16px;
    }

    .headerBlock {
        width: 100%;
        height: 200px;
    }

    .desktopNavbar {
        display: none !important;
    }

    .mobileNavbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
        background-color: var(--greenColor);
    }

    .hamburger {
        padding: 0px;
    }

    .homepage h1 {
        font-weight: 400;
        font-size: 22px;
        line-height: 35px;
    }

    .homepage h2 {
        font-size: 16px;
        margin-top: 30px;
    }

    .homepage ul {
        padding-left: 30px;
    }

    .navbar a {
        font-size: 24px;
    }

    .mobileMenu {
        background: white;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 110px;
        left: 100%;
        z-index: 999;
        transition: 0.6s;
    }

    .menuActive {
        left: 0;
    }

    .mobileMenu ul {
        display: block;
    }

    .mobileMenu li {
        margin-bottom: 30px;
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::after,
    .hamburger.is-active .hamburger-inner::before {
        background-color: var(--greenColor);
    }

    .mobileMenu {
        display: block;
    }

    .scroll {
        overflow: hidden;
    }
}

@media (max-width: 414px) {
    .homepage .container {
        padding: 20px;
    }
}

.deelHeader {
    height: 300px;
    width: 100%;
    position: relative;
}

.deel1Header {
    background: url('../images/deel1_bg.png');
    background-size: cover;
  
}

.deel2Header {
    background: url('../images/deel2_bg.png');
    background-size: cover;
}

.deel1Header img {
    position: absolute;
    right: 100px;
    bottom: -100px;
}

.deel2Header img {
    position: absolute;
    right: 100px;
    bottom: -100px;
}

.deelContent {
    padding: 30px;
}

.deelName {
    font-size: 36px;
    margin-top: 20px;
}

.deelContent p {
    color: var(--darkColor);
}

.deelDesc {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 35px;
}

.green {
    color: var(--greenColor);
}

.deel1List {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.deel1List span {
    font-weight: bold;
}

.deel1List li {
    margin-top: 20px;
    line-height: 1.6;
}

.deel .container {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f7f8f2;
}

.downloadButton {
    width: 250px;
    height: 100px;
    background: #5f7008;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    margin: 0 auto;
    margin-top: 50px;
   
}

.downloadButton span {
    font-weight: 600;
}

.downloadButton img {
    position: relative;
    top: 15px;
    left: 10px;
}

.deelButtons {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.deelButtons a {
    font-weight: 500;
}

.dell2Desc {
    width: 80%;
    margin: 0 auto;
}

.dell2Desc p {
    line-height: 1.6;
    margin-top: 30px;
}

@media (max-width: 490px) {
    .deelContent {
        padding-top: 150px;
    }
    .deel1List {
        width: 90%;
    }
    .dell2Desc {
        width: 90%;
    }
}